.homeWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  .textWrapper {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    .typedText {
      position: absolute;
      top: 350px;
      font-size: 38px;
    }
    .subText {
      margin: 0;
      text-align: center;
    }
  }
  .imgWrapper {
    width: 50%;
    height: 100%;
    background: wheat;
  }
}

.navi {
  div {
    div {
      div {
        cursor: pointer;
        margin: 2.5px 0;
      }
    }
  }
}

.homeWrapper2 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  .textWrapper2 {
    text-align: center;
    .mainText {
      letter-spacing: 6px;
      font-size: 6.5vw;
      font-weight: 900;
    }
    .subText {
      font-size: 4vw;
    }
    .mouse {
      bottom: 0;
      left: 50%;
      position: absolute;
      width: 30px;
      height: 50px;
      border: 3px solid black;
      border-radius: 60px;
      transform: translate(-50%, -50%);
      &::before {
        content: "";
        width: 8px;
        height: 8px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        border-radius: 50%;
        opacity: 1;
        animation: wheel 3s infinite;
        -webkit-animation: wheel 1s infinite;
      }
    }
    @keyframes wheel {
      to {
        opacity: 0;
        top: 30px;
      }
    }
  }
}

/* HomeConts3.css */
.homeWrapper3 {
  .swiper-container {
    position: relative;
    width: 55%;
    height: 70%;
    margin: auto;
    .swiper-slide {
      text-align: center;
      padding: 20px;
      background-color: rgb(146, 146, 146);
    }
    .nav-button {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 106%;
      top: 43%;
      z-index: 999;
      left: -2%;
      button {
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        .arrow_back,
        .arrow_forward {
          color: rgb(73, 73, 73);
          transition: 0.3s;
          font-size: 58px;
          filter: drop-shadow(0px 5px 10px 0px rgba(0, 0, 0, 0.5));
        }
        &:hover {
          .arrow_back {
            transform: translateX(-5px);
            color: rgb(182, 182, 182);
            filter: drop-shadow(2px 5px 2px rgba(0, 0, 0, 0.25));
          }
          .arrow_forward {
            transform: translateX(5px);
            color: rgb(182, 182, 182);
            filter: drop-shadow(-2px -5px 2px rgba(0, 0, 0, 0.25));
          }
        }
      }
    }
  }
}

.slideWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  gap: 15px;
  h1 {
    color: black;
    font-weight: 900;
    font-size: 2rem;
  }
  .imgConts {
    width: 90%;
    height: 90%;
    background: white;
  }
}
