* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  ::-webkit-scrollbar {
    display: none;
  }
}

body.popup-open {
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
