@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background: #f6f8f6;
  position: fixed;
  z-index: 2;
}
header .inner {
  display: flex;
  width: 1280px;
  padding: 40px 0;
  align-items: center;
  border: 1px solid #000;
  justify-content: space-between;
  margin: 0 auto;
}
header .inner .logo {
  margin-left: 20px;
}
header .gnb {
  position: relative;
  width: 38%;
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
}
header .gnb li {
  position: relative;
  font-size: 19px;
  color: #4a6869;
  font-weight: 500;
  cursor: pointer;
}
header .gnb li a {
  color: #000;
}
header .gnb li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, #000, transparent);
  transform-origin: left center;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
header .gnb li:hover::after {
  transform: scaleX(1);
}
header .gnb .line {
  position: absolute;
  bottom: 0;
  height: 5px;
  background: #000;
  transform-origin: left center;
  top: 20px;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0); /* 초기 상태에서 라인을 숨김 */
}
header .gnb:hover .line {
  transform: scaleX(1); /* 마우스가 올라갔을 때 라인을 표시 */
}
header .totalMenuBtn {
  display: none;
  position: relative;
  width: 35px;
  height: 35px;
  border-bottom: 3px solid #000;
}
header .totalMenuBtn::before, header .totalMenuBtn::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background: #000;
  transform-origin: left;
  transition: all 0.5s;
}
header .totalMenuBtn::after {
  top: calc(50% - 1px);
}
header .totalMenuBtn.on {
  width: 35px;
  height: 35px;
  border: none;
}
header .totalMenuBtn.on::before {
  width: 140%;
  transform: rotateZ(45deg);
}
header .totalMenuBtn.on::after {
  width: 140%;
  top: calc(100% - 1px);
  transform: rotateZ(-45deg);
}
header .totalMenuConts {
  display: none;
}

@media screen and (max-width: 1439px) {
  header .inner {
    width: 100%;
    padding: 40px 20px;
  }
  header .gnb {
    width: 40%;
  }
}
@media screen and (max-width: 991px) {
  header .gnb {
    display: none;
  }
  header .gnb.on {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .totalMenuBtn {
    display: block;
  }
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background: #ddd;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.homeWrapper .textWrapper {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.homeWrapper .textWrapper .typedText {
  position: absolute;
  top: 350px;
  font-size: 38px;
}
.homeWrapper .textWrapper .subText {
  margin: 0;
  text-align: center;
}
.homeWrapper .imgWrapper {
  width: 50%;
  height: 100%;
  background: wheat;
}

.navi div div div {
  cursor: pointer;
  margin: 2.5px 0;
}

.homeWrapper2 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.homeWrapper2 .textWrapper2 {
  text-align: center;
}
.homeWrapper2 .textWrapper2 .mainText {
  letter-spacing: 6px;
  font-size: 6.5vw;
  font-weight: 900;
}
.homeWrapper2 .textWrapper2 .subText {
  font-size: 4vw;
}
.homeWrapper2 .textWrapper2 .mouse {
  bottom: 0;
  left: 50%;
  position: absolute;
  width: 30px;
  height: 50px;
  border: 3px solid black;
  border-radius: 60px;
  transform: translate(-50%, -50%);
}
.homeWrapper2 .textWrapper2 .mouse::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 3s infinite;
  -webkit-animation: wheel 1s infinite;
}
@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

/* HomeConts3.css */
.homeWrapper3 .swiper-container {
  position: relative;
  width: 55%;
  height: 60%;
  margin: auto;
}
.homeWrapper3 .swiper-container .swiper-slide {
  text-align: center;
  padding: 30px;
  background-color: #2e2e2e;
}
.homeWrapper3 .swiper-container .nav-button {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 106%;
  top: 43%;
  z-index: 999;
  left: -2%;
}
.homeWrapper3 .swiper-container .nav-button button {
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeWrapper3 .swiper-container .nav-button button .arrow_back,
.homeWrapper3 .swiper-container .nav-button button .arrow_forward {
  transition: 0.2s ease-in-out;
  font-size: 58px;
}
.homeWrapper3 .swiper-container .nav-button button:hover .arrow_back {
  transform: translateX(-5px);
}
.homeWrapper3 .swiper-container .nav-button button:hover .arrow_forward {
  transform: translateX(5px);
}

.slideWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  gap: 15px;
}
.slideWrapper h1 {
  color: white;
}
.slideWrapper .imgConts {
  width: 90%;
  height: 100%;
  background: white;
}/*# sourceMappingURL=style.css.map */